<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="{{ site.baseurl }}/images/avatar.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Akira Shinohara</a></h1>
            <p>情報系専門学生オタク</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://twitter.com/s10akir" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://github.com/s10akir" class="icon fa-github"><span class="label">Github</span></a></li>
            </ul>
        </footer>
    </section>

